<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lato:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Ip address</th>
            <th>Gender</th>
          </tr>
          <form id="form" action="/" method="get">
            <tr>
              <td><input placeholder="Ex: John" class="form-control" type="text" name="name" value="<%=filterData.name%>"></td>
              <td><input placeholder="Ex: Doe" class="form-control" type="text" name="lastName" value="<%=filterData.lastName%>"></td>
              <td><input placeholder="Ex: johnDoe@gmail.com" class="form-control" type="text" name="email" value="<%=filterData.email%>"></td>
              <td><input placeholder="Ex: 140.49.54.52" class="form-control" type="text" name="ip" value="<%=filterData.ip%>"></td>
              <td>
                <select class="form-control" name="gender" onchange="submitForm()">
                  <option value="----">Select the gender</option>
                  <option <% if (filterData.gender === 'Male') { %> selected <% } %> value="Male">Male</option>
                  <option <% if (filterData.gender === 'Female') { %> selected <% } %> value="Female">Female</option>
                  <option <% if (filterData.gender === 'Non-binary') { %> selected <% } %> value="Non-binary">Non-binary</option>
                  <option <% if (filterData.gender === 'Genderfluid') { %> selected <% } %> value="Genderfluid">Genderfluid</option>
                  <option <% if (filterData.gender === 'Bigender') { %> selected <% } %> value="Bigender">Bigender</option>
                  <option <% if (filterData.gender === 'Polygender') { %> selected <% } %> value="Polugender">Polugender</option>
                  <option <% if (filterData.gender === 'Genderqueer') { %> selected <% } %> value="Genderqueer">Genderqueer</option>
                  <option <% if (filterData.gender === 'Agender') { %> selected <% } %> value="Agender">Agender</option>
                </select>
                <button style="display: none;" type="submit">Send</button>
              </td>
            </tr>
          </form>
        </thead>
        <tbody>
          <% data.forEach(function(user){ %>
  
          <tr>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
            <td><%= user.ip_address %></td>
            <td><%= user.gender %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    <% if(paginationData.pageSize > 1) { %>
      <div class="pagination">
        <ul>
          <% for(let i = 1; i < paginationData.pageSize + 1; i++) {%>
            <li><a <% if(paginationData.page == i) { %> class="selected" <% } %> href="/?page=<%=i%>&<%=paginationData.url%>"><%=i%></a></li>
          <% } %>
        </ul>
      </div>
    <% } %>

    <script type="text/javascript">
      function submitForm() {
        const form = document.getElementById('form');
        form.submit();
      }
    </script>
  </body>
</html>
