.table {
  width: 1330px;
  margin: 0 auto;
  border-collapse: collapse;
  background: #FFFFFF;
  box-shadow: 0px 45px 112px rgba(0, 0, 0, 0.06), 0px 22.7812px 48.825px rgba(0, 0, 0, 0.0405), 0px 9px 18.2px rgba(0, 0, 0, 0.03), 0px 1.96875px 6.475px rgba(0, 0, 0, 0.0195);
  border-radius: 10px;
}

.table thead tr:last-child td {
  padding: 8px 14px;
  background: none !important;
}

.table tr {
  cursor: pointer;
}

.table tr:hover td {
  background-color: #EEE3FF;
  color: #4005A0;
  font-weight: 600;
}

.table th {
  background: #f5f5f5;
  border-bottom: 1px solid #E1CFFF;
  font-family: "Inter";
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #0f1419;
  text-align: left;
  padding: 10px 14px;
}

.table td {
  background: #ffffff;
  border-bottom: 1px solid #e1cfff;
  font-family: "Inter";
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: #333333;
  padding: 20px 14px;
  transition: 300ms;
}

.table tbody tr:last-child td {
  border-bottom: 0;
}

.table th:first-child {
  border-top-left-radius: 10px;
}

.table th:last-child {
  border-top-right-radius: 10px;
}

.table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.form-control {
  padding: 10px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #d6d6d6;
  outline: 0;
  transition: 300ms;
  width: 100%;
  box-sizing: border-box;
}

.form-control::placeholder {
  color: #33333385;
}

.form-control:focus {
  border-color: #999999;
}

.pagination {
  width: 1330px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
}

.pagination ul {
  list-style-type: none;
  display: flex;
  gap: 5px;
}

.pagination ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #d3d3d3;
  text-decoration: none;
  background-color: #fff;
  width: 24px;
  height: 24px;
  text-align: center;
  color: #4005A0;
  transition: 300ms;
}

.pagination ul li a:hover {
  background-color: #EEE3FF;
}

.pagination ul li a.selected {
  background-color: #EEE3FF;
}